<div class="alert alert-success">

    
## Цикл for


Очень часто одно и то же действие надо выполнить для набора однотипных данных. Например, преобразовать все строки в списке в верхний регистр. Для выполнения таких действий в Python используется цикл for.

Цикл for перебирает по одному элементы указанной последовательности и выполняет действия, которые указаны в блоке for, для каждого элемента.

Примеры последовательностей элементов, по которым может проходиться цикл for:

- строка
- список
- словарь
- Функция range
- любой итерируемый объект

   <div class="alert alert-danger"> 
    Для понимания может помочь проект <a href='https://pythontutor.com'> pythontutor </a>. Там имеется визуализация кода, позволяющая увидеть, что происходит на каждом этапе выполнения кода. На сайте pythontutor можно загружать свой код.
</div>
       
Цикл for может работать с любой последовательностью элементов. Например, выше использовался список и цикл перебирал элементы списка. Аналогичным образом for работает с кортежами.
    
</div>

for x in <послед>:

    тело_цикла

*Напечатать элементы списка*

Без цикла:

In [9]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])
print(fruits[1])
print(fruits[2])

apple
banana
cherry

Можно копировать и вставлять, но если строк будет 1000, 10000, 1000000 ...

С использованием цикла:

In [10]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

Можно прочитать это следующим образом: "Для каждого элемента **x** списка **fruits** применить операцию **print(x)**".

Сначала x принимает значение apple, потом banana и так далее.

In [12]:
my_list = []

for line in range(3):
    my_list.append(input('Введите строку: '))

print(my_list)

for el in my_list:
    print(el.upper())

Введите строку: Jupe
Введите строку: Note
Введите строку: Python
['Jupe', 'Note', 'Python']
JUPE
NOTE
PYTHON

*Напечатать каждый символ строки отдельно*

In [15]:
for x in "banana":
    print(x, end='\n')

b
a
n
a
n
a

In [20]:
simv = '*'
for x in "banana":
  # вывод каждого символа строки с разделителем +
  print(x, end=simv)

b*a*n*a*n*a*

*Преобразовать первый символ каждой строки в верхний регистр. Преобразованный список сохранить отдельно*

In [23]:
# исходный список
words = ['иванов','петров','сидоров','новиков']
# новый список
new_words = []
for fam in words:
    new_words.append(fam.capitalize())
print(new_words)

['Иванов', 'Петров', 'Сидоров', 'Новиков']

*Вывести список каждого отдела организации*

In [26]:
# Словарь с фамилиями сотрудников отделов
dict_staff = {'Отдел сбыта': ['Ильина', 
                              'Куликов',
                              'Сергиенко',
                              'Корепин', 
                              'Климов', 
                              'Попкова'],
             'Вице-президенты':['Гладких'],
             'Начальники отделов':['Новиков'],
             'Координаторы':['Ожогина']
             }

for otdel in dict_staff.keys():
    print(otdel)
    print('-' * len(otdel))
    print(dict_staff[otdel])
    print()

Отдел сбыта
-----------
['Ильина', 'Куликов', 'Сергиенко', 'Корепин', 'Климов', 'Попкова']

Вице-президенты
---------------
['Гладких']

Начальники отделов
------------------
['Новиков']

Координаторы
------------
['Ожогина']

In [27]:
dict_staff['Координаторы'].append('Иванов')

In [28]:
for otdel in dict_staff.keys():
    print(otdel)
    print('-' * len(otdel))
    print(dict_staff[otdel])
    print()

Отдел сбыта
-----------
['Ильина', 'Куликов', 'Сергиенко', 'Корепин', 'Климов', 'Попкова']

Вице-президенты
---------------
['Гладких']

Начальники отделов
------------------
['Новиков']

Координаторы
------------
['Ожогина', 'Иванов']

In [30]:
for otdel in dict_staff.keys():
    # Печатать ключ (наименование отдела)
    print(otdel) 
    print('-' * len(otdel))
    # Печатать значение из словаря (список отдела)
    for empl in dict_staff[otdel]:
        print(empl)
    print()

Отдел сбыта
-----------
Ильина
Куликов
Сергиенко
Корепин
Климов
Попкова

Вице-президенты
---------------
Гладких

Начальники отделов
------------------
Новиков

Координаторы
------------
Ожогина
Иванов

Метод items позволяет проходиться в цикле сразу по паре ключ-значение:

In [32]:
# Словарь с фамилиями сотрудников отделов
dict_staff = {'Отдел сбыта': ['Ильина', 
                              'Куликов',
                              'Сергиенко',
                              'Корепин', 
                              'Климов', 
                              'Попкова'],
             'Вице-президенты':['Гладких'],
             'Начальники отделов':['Новиков'],
             'Координаторы':['Ожогина']}

for title, list_empl in dict_staff.items():
    # Печатать ключ (наименование отдела)
    print(title) 
    print('-' * len(title))
    # Печатать значение из словаря (список отдела)
    for empl in list_empl:
        print(empl)
    print()

Отдел сбыта
-----------
Ильина
Куликов
Сергиенко
Корепин
Климов
Попкова

Вице-президенты
---------------
Гладких

Начальники отделов
------------------
Новиков

Координаторы
------------
Ожогина

In [35]:
my_list = [10,20,33]
print(sum(my_list))

63

In [36]:
my_sum = 0
for x in my_list:
    my_sum += x # my_sum = my_sum + x
print(my_sum)
print(my_sum / len(my_list))

63
21.0

## Функция range

Возвращает числовой диапазон
     
Синтаксис:

**range(start,end,step)**

**start** - начальное значение диапазона

**end** - конечное значение диапазона. **В диапазон не включается**

**step** - шаг изменнения (по-умолчанию 1)

Формируется диапазон от значения **start** до значения **end-1**.


Используется, когда необходимо цикл for применить к числовому промежутку.

In [37]:
range(9)

range(0, 9)

In [40]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
# За начальное значение диапазона берется 0
for i in range(101):
    print(i, end=',')

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,

In [33]:
for i in range(23, 26):
    print(i)

23
24
25

In [37]:
# Печать диапазона с шагом 2
for i in range(1, 10, 2):
    print(i, end=' ')

1 3 5 7 9

### Примеры использования range

При использовании оператора **in**  в цикле мы можем работать только с тем экземпляром итерируемого объекта, на который он указывает. А если необходимо использовать индексы, то нужно брать range.

*Напечатать индексы четных элементов*

In [46]:
# Исходный список
df = [1, 4, 5, 7, 9, 8, 2, 4]
# Пустой список для четных индексов
even_indexes = []

for index in range(0,len(df)):
    if not(df[index] % 2):
        even_indexes.append(index)
print(even_indexes)

[1, 5, 6, 7]

In [47]:
for ind in even_indexes:
    print(df[ind])

4
8
2
4

*Из заданной строки сформировать новую, где каждый символ есть максимальный символ среди соседей символа в исходной строке.*

Вход: ромашка

Выход: ррошшшк

In [49]:
input_string = input('Введите строку: ')
# Длина строки
count_chars = len(input_string)
output_string = ''

# Цикл для диапазона индексов от 0 до длина строки-1
for index in range(0,count_chars):
    # Если индекс от 1 до предпоследнего
    if index > 0 and index < count_chars-1:
        # Вычислить максимальный среди окружающих
        s = max(input_string[index],input_string[index-1],input_string[index+1])
        output_string += s
    # Если индекс равен 0, то сравниваем с соседом справа
    elif index == 0:
        s = max(input_string[index],input_string[index+1])
        output_string += s
    else:
        # Иначе сравниваем с соседом слева
        s = max(input_string[index],input_string[index-1])
        output_string += s
        
print(output_string)

Введите строку: алгоритм
ллоррттт

## Вложенные циклы

Вложенный цикл - это цикл внутри цикла.

"Внутренний цикл" будет выполняться один раз для каждой итерации "внешнего цикла".:

In [12]:
adj = ["красный", "большой", "вкусный", "зрелый"]
fruits = ["яблоко", "банан", "вишня", "киви"]

for a in adj:
    for f in fruits:
        print(a,' ', f)

красный   яблоко
красный   банан
красный   вишня
красный   киви
большой   яблоко
большой   банан
большой   вишня
большой   киви
вкусный   яблоко
вкусный   банан
вкусный   вишня
вкусный   киви
зрелый   яблоко
зрелый   банан
зрелый   вишня
зрелый   киви

*Напечатать таблицу умножения для чисел от 2 до 5*

In [52]:
for x in range(2,10):
    for y in range(1,10):
        print(f'{x}*{y} = {x*y}')
    print('-' * 10)

2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
----------
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
----------
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
4*9 = 36
----------
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
----------
6*1 = 6
6*2 = 12
6*3 = 18
6*4 = 24
6*5 = 30
6*6 = 36
6*7 = 42
6*8 = 48
6*9 = 54
----------
7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63
----------
8*1 = 8
8*2 = 16
8*3 = 24
8*4 = 32
8*5 = 40
8*6 = 48
8*7 = 56
8*8 = 64
8*9 = 72
----------
9*1 = 9
9*2 = 18
9*3 = 27
9*4 = 36
9*5 = 45
9*6 = 54
9*7 = 63
9*8 = 72
9*9 = 81
----------

### Прерывание цикла: break

Используется в случае принудительного выхода из цикла

In [53]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    #Если элемент равен 'banana', то прервать цикл
    if x == "banana":
        break
    print(x)  
print('Game over')

apple
Game over

### Пропуск части цикла: continue

Используется в случае необходимости принудительно начать следующий шаг цикла, пропустив часть строк в его теле.

In [65]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    # Если элемент равен 'banana', то не выполнять дальнейшие инструкции цикла, 
    # а перейти к обработке следующего элемента
    if x == "banana":
        continue
    print(x)

apple
cherry

*Из диапазона от 1 до 10 включительно вывести только те числа, которые не делятся ни на 2, ни на 3.*

Пояснение: В данном примере надо пропускать числа, которые делятся на 2 и 3

In [24]:
for i in range(1, 11):
    if i % 2 == 0 or i % 3 == 0:
        continue
    print(i)

1
5
7

## else в цикле

else-код выполнится после того, как пройдут все витки цикла

In [55]:
fruits = ["apple", "cherry","banana","orange"]
for x in fruits:
    # Если элемент равен 'banana', то прервать цикл
    if x == "banana":
        
        break
    print(x)
else:
    print('Успешное окончание цикла. Все итерации выполнены')
print('Программа окончена')

apple
cherry
Программа окончена

В данном примере **break** не выполнился, поэтому ветка **else** выполнилась. В случае срабатывания **break**, else не выполняется.

In [57]:
fruits = ["apple", "cherry", "banana", "orange"]
for x in fruits:
    # Если элемент равен 'banana', то прервать цикл
    if x == "banana":
        break
    print(x)
else:
    print('Успешное окончание цикла. Все итерации выполнены')
print('Программа окончена')

apple
cherry
Программа окончена

## Примеры решения задач

### Cписок целых чисел

Имеется список из целых чисел. 
Необходимо создать новый список, в котором содержатся только те числа, которые больше 5 по модулю.

In [56]:
my_list = [23, 4, -9, 7, -12, -3]

In [58]:
abs(-7)

7

In [61]:
new_list = []
for x in my_list:
    if abs(x) > 5:
        new_list.append(x)
print(new_list)

[23, -9, 7, -12]

In [62]:
my_list = [23, 4, -9, 7, -12, -3]
new_list = []
for num in my_list:
    if abs(num)>5:
        new_list.append(num)
print(new_list)

[23, -9, 7, -12]

### Верхний регистр

В заданной строке все символы английского алфвита перевести в верхний регистр

Ввод: Сетевая карта устройства имеет mac-адрес aa12:456d:fe43

Вывод: Сетевая карта устройства имеет MAC-адрес AA12:456D:FE43

In [63]:
ord('a')

97

In [64]:
ord('z')

122

In [67]:
input_string = 'Сетевая карта устройства имеет mac-адрес aa12:456d:fe43'
result = ''
for ch in input_string:
    if ord(ch) >= 97 and ord(ch) <= 122:
        result += ch.upper()
        continue
    result += ch
print(result)

Сетевая карта устройства имеет MAC-адрес AA12:456D:FE43

### Список сотрудников

Вывести Фамилию, инициалы и год рождения сотрудников, которые родились в 20 веке

Ввод: Глуховская Виталия Брониславовна, 21.01.1983 

Вывод: Глуховская В. Б. - 1983

In [2]:
dict_empl = {'gvb': 'Глуховская Виталия Брониславовна, 21.01.1983',
             'nvf': 'Наумов Валентин Филатович, 12.05.2000', 
             'sga': 'Солопов Григорий Анатольевич, 11.11.1972',
             'mla':'Моисеева Лера Абрамовна, 05.06.2001'
            }

In [3]:
for i in dict_empl.values():
    year = i[-4:]
    if int(year) < 2000:
        fio = i.split()
        print(f'{fio[0]} {fio[1][:1]}. {fio[2][:1]}. - {year}')

Глуховская В. Б. - 1983
Солопов Г. А. - 1972

### Операция "Ы"

Случайным образом распределить арестованных на 15 суток граждан по требуемым видам работ. Нераспределенные граждане отправляются на уборку территории.

In [30]:
import random
my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)
print(my_list)

[2, 4, 1, 5, 3]

In [31]:
prisoners = ['Алкоголик_1', 'Тунеядец_1','Хулиган_1',
             'Алкоголик_2', 'Тунеядец_2','Хулиган_2',
            'Алкоголик_3', 'Тунеядец_3','Хулиган_3',
            'Алкоголик_4', 'Тунеядец_4','Хулиган_4'
            ]

In [32]:
work_orders = {'Песчаный карьер': 2, 
               'Цементный завод': 3,
               'Погрузка угля': 2,
               'Уборка конюшен': 1,
               'Мясокомбинат': 0
              }

In [33]:
from pprint import pprint
pr_work = dict.fromkeys(prisoners,'Уборка территории')
random.shuffle(prisoners)
for work in work_orders.items():   
    for kolvo in range(0,work[1]):
        pr_work[prisoners.pop()] = work[0]
pprint(pr_work)

{'Алкоголик_1': 'Песчаный карьер',
 'Алкоголик_2': 'Уборка территории',
 'Алкоголик_3': 'Уборка территории',
 'Алкоголик_4': 'Уборка территории',
 'Тунеядец_1': 'Погрузка угля',
 'Тунеядец_2': 'Цементный завод',
 'Тунеядец_3': 'Цементный завод',
 'Тунеядец_4': 'Цементный завод',
 'Хулиган_1': 'Погрузка угля',
 'Хулиган_2': 'Уборка территории',
 'Хулиган_3': 'Песчаный карьер',
 'Хулиган_4': 'Уборка конюшен'}

In [34]:
pr_work = dict.fromkeys(prisoners,'Уборка территории')

In [35]:
pr_work

{'Алкоголик_2': 'Уборка территории',
 'Алкоголик_3': 'Уборка территории',
 'Хулиган_2': 'Уборка территории',
 'Алкоголик_4': 'Уборка территории'}

In [36]:
random.shuffle(prisoners)

In [37]:
prisoners

['Алкоголик_3', 'Хулиган_2', 'Алкоголик_2', 'Алкоголик_4']

Песчаный карьер 2
Цементный завод 3
Погрузка угля 2
Уборка конюшен 1
Мясокомбинат 0

### "Переводчик"

Сотрудники часто забывают переключать клавиатуру с ангийской раскладки на русскую. А так как не все владеют "слепым" методом печати, то обнаруживается это, когда набрана половина страницы текста. Поэтому они попросили сотрудника **<ваше_имя>**, разбирающегося в программировании, создать скрипт, восстанавливающий русский текст. Очень накладно все время перепечатывать.

In [46]:
#en_ru = {'q':'й','Q':'Й',
#         'w':'ц','W':'Ц',         
#        } 
en = 'qwertyuiop'
ru = 'йцукенгшщз'
en_ru = dict(zip(en,ru))

input_text = input()
result = ''
for s in input_text:
    result += en_ru[s]
print(result)

tywrqtweuio
енцкйецугшщ

In [47]:
en_ru

{'q': 'й',
 'w': 'ц',
 'e': 'у',
 'r': 'к',
 't': 'е',
 'y': 'н',
 'u': 'г',
 'i': 'ш',
 'o': 'щ',
 'p': 'з'}

### Делители *

Работники аналитического отдела в свободное время не курят, а решают на спор разные математические задачи.
Сегодня на спор искали все делители случайных чисел. Для простых примеров решения находились быстро (для числа 6 это: 1, 2, 3, 6; а для числа 16 это: 1, 2, 4, 8, 16). Но когда начались примеры посерьезнее, то опять без сотудника, разбирающегося в программировании <ваше имя> не обошлось.

Варианты посложнее были, например такие: 23456, 150194200, 25604557902344

Вручную решить сложновато. Составьте скрипт для решения. Результат представьте в виде списка, отсортированного по возрастанию.